
.fl{
	float:left;
	
}
.fr{
	float:right;
}
.claer{
	clear: both;
}
* {
    font-family: "微软雅黑";
    font-weight: normal;
    margin: 0;
    outline: medium none;
    overflow-wrap: break-word;
    padding: 0;
    word-break: break-all;
}	